{
	# Railway terminates TLS before traffic reaches this service.
	auto_https off
}

:{$PORT:8080} {
	encode zstd gzip

	handle_path /blue/* {
		reverse_proxy {$TLR_BLUE_URL}:{$TLR_BLUE_PORT}
	}

	handle_path /green/* {
		reverse_proxy {$TLR_GREEN_URL}:{$TLR_GREEN_PORT}
	}

	handle /health {
		respond "ok" 200
	}

	respond "Caddy proxy is running" 200
}
